

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit Name', edit_user_path(@user) %> |
<%= link_to "Edit Email/password", edit_user_registration_path %> |
<%= link_to 'Back', users_path %>
