<p id="notice"><%= notice %></p>

<h1>Products</h1>


  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-2 col-md-4">
          <%= image_tag(product.image_url, class: "img-responsive") %>
          <h1><a herf=<%= link_to product.name, product %><h1></a></h1>
          <p><%= product.description %></p>
          <strong>Price: $ <%= product.price %></strong>
        </div><!-- /col -->
      <% end %>
    </div>
  </div>
  
<br>

<%= link_to 'New Product', new_product_path %>
