
<div class="container">
<div class= "row">
<div class="col-sm-4 col-md-8">

<% cache @product do %>
  
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>

    <img           src= "<%= asset_path(@product.image_url) %>"
       data-zoom-image= "<%= asset_path(@product.image_url+".big.jpg") %>" 
       class="img-responsive zoom"
    />
    
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<%= form_with(url: '/payments/create') do |form| %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>

<% end %> 
<!--end caching-->

  <%= render 'new_comment' %>


<%= render 'comments' %>
</div>
</div>
</div>
<% if signed_in?%>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%end%>
<%= link_to 'Back', products_path %>
