<p id="notice"><%= notice %></p>
<div class="container">
<div class= "row">
<div class="col-sm-4 col-md-8">

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
    <%= image_tag(@product.image_url, class: "img-responsive") %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<%@product.highest_rating.rating.times do %>
  <span class="glyphicon glyphicon-star"></span>
<%end%>
<p>
<%= @product.highest_rating.body %> 
</p>
<%@product.lowest_rating.rating.times do %>
  <span class="glyphicon glyphicon-star"></span>
<%end%>
<p>
<%= @product.lowest_rating.body %> 
</p>
</div>
</div>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
