<!DOCTYPE html>
<html>
  <head>
    <title>CfShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <%= form_tag(products_path, method: "get", class: "form-group form-inline pull-right") do %>
        <%= label_tag(:q, "Search:", class: "form-control hidden") %>
        <%= text_field_tag(:q, "Name", class: "form-control" ) %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", simple_pages_about_path %></li>
        <li><%= link_to "Contact", simple_pages_contact_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Featured", featured_path %></li>
      </ul>
    </nav>
    <%= yield %>
    <footer class="page-footer font-small blue pt-4 mt-4">
      &copy; 2018 Bike Berlin
    </footer>
  </body>
</html>
